project copy.ipynb
elife.txt
pegasus_large_model/
pegasus_large_model_x2/
pipeline_test_model/
evaluation_results.csv
*.bin
pegasus_xsum/
old/
data/
project_messy.ipynb
evaluation/

evaluation/elife_summaries100.txt
data/PLOS/tfidf_summaries/
data/PLOS/cleaned/
data/PLOS/cleaned_staged/
data/PLOS/converted/
data/PLOS_json/test-00000-of-00001.json
data/PLOS_json/train-00000-of-00003.json
data/PLOS_json/train-00001-of-00003.json
data/PLOS_json/train-00002-of-00003.json
data/PLOS_json/validation-00000-of-00001.json
data/elife_json/test_data.json
data/elife_json/test-00000-of-00001.json
data/elife_json/train-00000-of-00001.json
data/elife_json/validation-00000-of-00001.json
data/Elife/cleaned/test-00000-of-00001_clean.json
data/Elife/cleaned/train-00000-of-00001_clean.json
data/Elife/cleaned/validation-00000-of-00001_clean.json
data/Elife/converted/elife.json
data/Elife/tfidf_summaries/test_data_clean_tfidf.json
data/Elife/tfidf_summaries/test-00000-of-00001_clean_tfidf.json
data/Elife/tfidf_summaries/train-00000-of-00001_clean_tfidf.json
data/Elife/tfidf_summaries/validation-00000-of-00001_clean_tfidf.json
data/PLOS/clean_staged/test-00000-of-00001_clean.json
data/PLOS/clean_staged/train-00001-of-00003_clean.json
data/PLOS/clean_staged/train-00002-of-00003_clean.json
data/PLOS/clean_staged/validation-00000-of-00001_clean.json
validation/elife_clean_100.csv
validation/elife_clean_50.csv
validation/elife_clean_tfidf_val_50.json
validation/elife_clean_tfidf_val_50.txt
validation/elife_val_50.txt
results_elife_50.csv
python_scripts/jen.py
jen.py
